.common-footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: rgb(193, 193, 195);
    font-weight: 700;
    /* position: fixed;
    bottom: 0; */
    padding-top: 20px;   
    padding-bottom: 20px;   
}

footer{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    color: rgb(216, 219, 222);
    background-color: #454242;
    position: fixed;
    bottom: 0;
}